<div>
  <%= link_to '雪女', 'https://polly-s3-20200911.s3-ap-northeast-1.amazonaws.com/d6bc7829-d5d4-439a-9e5f-6253c6c7b97f.mp3'%>
</div>

<div>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
</div>